footer {
    padding: 20px;
    background-color: #282c34;
    color: white;
    text-align: left;
    position: relative;
    bottom: 0;
    width: 100%;
}

.footer-section p,
.footer-section ul {
    margin: 0;
}

.footer-section ul {
    padding: 0;
    list-style: none;
}

.footer-section ul li {
    margin-bottom: 5px;
}