footer {
    padding: 10px;
    background-color: #282c34;
    color: white;
    text-align: left;
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-section p,
.footer-section ul {
    margin: 0;
}

.footer-section ul {
    padding: 0;
    list-style: none;
}

.footer-section ul li {
    margin-bottom: 5px;
}